* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: rgb(16, 152, 173)
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

footer {
  font-size: 20px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.post-list {
  list-style: none;
}

.main-header {
  background: #f7f7f7;
  padding: 20px;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098cd;
  border-bottom: 5px solid #1098cd;
  padding: 50px 0;
  width: 500px;
}

ul,
ol {
  margin-left: 50px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

a:link {
  color: #1098cd;
}

a:visited {
  color: #1098cd;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black !important;
  font-style: italic;
}

.post-img {
  height: auto;
  width: 100%;
}