body {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: rgb(16, 152, 173)
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer {
  font-size: 20px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.post-list {
  list-style: none;
}

.main-header {
  background: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098cd;
  border-bottom: 5px solid #1098cd;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

a:link {
  color: #1098cd;
}

a:visited {
  color: #1098cd;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black !important;
  font-style: italic;
}